.heading {
    text-align: center;
    font-family: "Fugaz One", sans-serif;
}

body {
    background-color: rgb(255 227 239);
}

* {
    /* color: #2e2e2e; */
    color: #c47474;
}

.naming {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    /* Full height viewport */
}

/* .section {
    scroll-snap-align: start;
    height: 100vh;
} */

