.heading {
    text-align: center;
    font-family: "Fugaz One", sans-serif;
}

body {
    background-color: rgb(255 227 239);
}

* {
    /* color: #2e2e2e; */
    color: #c47474;
}

.naming {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .section {
    scroll-snap-align: start;
    height: 100vh;
} */

.rose {
    height: 80px;
}

.rose-div {
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}